header {
  display: flex;
  background-color: ;
}

header h1 {
  display: flex;
  margin: auto;
  font-size: 3rem;
}

.vl {
  border-left: 6px solid gray;
  height: 6rem;
  position: relative;
  left: 50%;
}

#profile {
  border-radius: 50%;
  height: 20rem;

}

#toolbox {
  text-align: center;
}

#languages h3 {
  font-weight: bold;
  font-size: 2rem;
}

#languages {
  font-size: 2rem;
}

#projects{
  text-align: center;
}

#main {
  margin-top: 2rem;

}
