* {
  background-color: black;
}

#name {
  margin: 2rem;
}

#profile {
  height: 15rem;
  border-radius: 50%;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

#logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

#react {
  height: 5rem;
  /* Once I learn react  */
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


i {
  color: white;
  margin-left: 5rem;
}

#menu h2 {
  color: black;
  background-color: white;
}


#menu {
  border-radius: 10%;
  background-color: white;
  position: absolute;
  display: none;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 2rem;
}



h1 {
  font-style: italic;
  font-family: cursive;
  color: white;
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: white;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}

h3{
  font-size: 2rem;
  color: white;
  font-family: cursive;
  font-style: italic;
  margin-left: 25%;
}
