header{
  background-image: url("../imgs/coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  text-align: center;
  font-size: 40px;
  font-family: cursive, sans-serif;
}

nav {
  font-family: cursive, sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: gray;
}

h1{
  background-color: rgba(170, 170, 170, .5);
  font-family: cursive, sans-serif;
  font-size: 100px;



}

a {
  color: inherit;
  padding-right: 30px;
}
